SystemName ${name}_scf
SystemLabel ${name}_scf

NumberOfAtoms   ${n_atoms}
NumberOfSpecies ${n_species}

%block ChemicalSpeciesLabel
1  6   C-gga
2  3   Li-gga
%endblock ChemicalSpeciesLabel

PAO.BasisSize  SZ
PAO.EnergyShift  10 meV

%block PS.Lmax
C-gga   2
%endblock PS.Lmax